.container{
    display: grid;
    height: 100%;
    row-gap: 1rem;
    justify-items: center;
    align-content: center;
}

.container > h1 {
    font-weight: 400;
    font-size: 1.3rem;

}

.container > h1 > span {
    font-size: 6rem;
    margin-right: 1rem;
}

.container > .bottom{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    justify-self: stretch;
}

.container > .bottom > button{
    padding: .5rem 1.2rem;
    border: 1px solid var(--color-grey);
    background-color: #FFF;
    color: var(--color-primary);
    font-size: 1.5rem;
    border-radius: 20rem;
}

.container > .bottom > button:hover{
    background-color: var(--color-primary);
    color: #FFF;
    border: 1px solid var(--color-primary);
}

.container > .bottom > button:disabled{
    background-color: var(--color-grey);
    color: #FFF;

}